body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#word-holders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.word-holder {
    display: flex;
    margin: 5px 0;
}

.letter-box {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green { background-color: #8BC34A; }
.yellow { background-color: #FFC107; }
.grey { background-color: #BDBDBD; }
